<div class="bg-brand-azur px-4 py-8 sm:px-6 md:px-10 flex justify-center">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="grid grid-cols-1 sm:grid-cols-2 gap-4 bg-brand-white rounded-lg shadow-md w-full max-w-4xl p-4 sm:p-6 md:p-10">      
        <div class="col-start-1">
            <label for="prenom" class="block text-sm font-medium text-gray-700 mb-1">Prénom <span class="text-red-500">*</span></label>
            
            <input type="text" id="prenom" name="prenom" [(ngModel)]="prenom" pattern="^[A-Za-zÀ-ÿ\s'-]+$" placeholder="Prénom" 
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:text-sm h-10"
                required #prenomModel="ngModel">
                @if (prenomModel.invalid && (prenomModel.dirty || prenomModel.touched)) {
                    <div class="text-red-600 text-sm mt-1">
                        @if (prenomModel.hasError('required')) {
                            <div>
                                Ce champ est obligatoire.
                            </div>
                        }
                        @if (prenomModel.hasError('pattern')) {
                            <div>
                                Vous ne pouvez mettre que des lettres et des séparateurs (espaces, tirets, apostrophes, et accents).
                            </div>
                        }
                    </div>
                }
        </div>
        <div class="col-start-2">
            <label for="nom" class="block text-sm font-medium text-gray-700 mb-1">Nom <span class="text-red-500">*</span></label>  
            
            <input type="text" id="nom" name="nom" [(ngModel)]="nom" pattern="^[A-Za-zÀ-ÿ\s'-]+$" placeholder="Nom de Famille"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:text-sm h-10"
                required #nomModel="ngModel">
                @if (nomModel.invalid && (nomModel.dirty || nomModel.touched)) {
                    <div class="text-red-600 text-sm mt-1">
                       @if (nomModel.hasError('required')) {
                            <div>
                                Ce champ est obligatoire.
                            </div>
                        }
                        @if (nomModel.hasError('pattern')) {
                            <div>
                                Vous ne pouvez mettre que des lettres et des séparateurs (espaces, tirets, apostrophes, et accents).
                            </div>
                        } 
                    </div>
                }
        </div>
        
        <div class="col-start-1">
            <label for="numero" class="block text-sm font-medium text-gray-700 mb-1">Numéro de Téléphone <span class="text-red-500">*</span></label>
            
            <input type="tel" id="numero" name="numero" pattern="^(0[1-9])(?:[ .-]?[0-9]{2}){4}$" [(ngModel)]="numero" placeholder="0X XX XX XX XX"
            class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:text-sm h-10"
            required #num="ngModel">

            @if (num.invalid && (num.dirty || num.touched)){
                <div class="text-red-600 text-sm mt-1">
                    @if (num.hasError('required')){
                        <div>
                            Ce champ est obligatoire.
                        </div>
                    }
                    @if (num.hasError('pattern')){
                        <div>
                            Veuillez entrer un numéro de téléphone français valide (ex: 06 12 34 56 78).
                        </div>
                    }
                </div>
            }
        </div>       
        
        <div class="col-start-2">
            <label for="type" class="block text-sm font-medium text-gray-700 mb-1">Type de contact <span class="text-red-500">*</span></label>
            
            <select id="type" name="type" [(ngModel)]="type"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:text-sm h-10"
                required #typeModel="ngModel">
                <option value="" disabled selected>Choissisez une option</option>
                <option value="Client">Client</option>
                <option value="Fournisseur">Fournisseur</option>
            </select>
                @if (typeModel.invalid && (typeModel.dirty || typeModel.touched)) {
                    <div class="text-red-600 text-sm mt-1">
                        @if (typeModel.hasError('required')) {
                            <div>
                                Ce champ est obligatoire.
                            </div>
                        }
                    </div>
                }
        </div>
        
        <div class="col-span-2 col-start-1">
            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email <span class="text-red-500">*</span></label>
            
            <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email"
            class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:col-span-2 sm:text-sm h-10"
            required #emailModel="ngModel">

                @if (emailModel.invalid && (emailModel.dirty || emailModel.touched)) {
                    <div class="text-red-600 text-sm mt-1">
                        @if (emailModel.hasError('required')) {
                            <div>
                                Ce champ est obligatoire.
                            </div>
                        }
                        @if (emailModel.hasError('email')) {
                            <div>
                                Veuillez entrer une adresse email valide.
                            </div>
                        }
                    </div>
                }
        </div>
        
        <div class="col-span-2 col-start-1">
            <label for="img" class="block text-sm font-medium text-gray-700 mb-1">Photo <span class="text-red-500">*</span></label>
            <div class="sm:col-span-2">
                <input type="file" id="img" name="img" (change)="onFileSelected($event)" class="hidden">

                <label for="img" class="custom-file-upload flex items-center justify-between px-4 py-2 border border-gray-300 rounded-md shadow-sm cursor-pointer hover:border-brand-blue focus-within:ring-brand-blue focus-within:border-brand-blue h-10">
                    <span class="text-gray-500">{{ selectedFileName }}</span> <span class="ml-3 inline-flex items-center px-4 py-1.5 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-brand-blue hover:bg-brand-blue-dark">
                        Parcourir
                    </span>
                </label>

                @if (imageRequiredError) {
                    <div class="text-red-600 text-sm mt-1">{{ imageRequiredError }}</div>
                }
                @if (fileTypeError) {
                    <div class="text-red-600 text-sm mt-1">{{ fileTypeError }}</div>
                }
            </div>
        </div>

        <div class="sm:col-span-2 flex justify-center mt-4 flex-row-reverse gap-5">
            <button type="submit" class="px-40 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-black bg-brand-azur hover:bg-brand-azur-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-azur">
                Valider
            </button>
            <button type="reset" (click)="onReset(contactForm)" class="px-20 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-brand-blue hover:bg-brand-blue-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue">
                Annuler
            </button>
        </div>
    </form>
</div>