/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-brand-azur: #2CD5C4;
    --color-brand-white: #F9F9F9;
    --color-brand-green: #A4E06E;
    --color-brand-blue: #20323F;

    --font-title: Poppins, sans-serif;
    --font-body: Inter, sans-serif;
    --font-links: Roboto, sans-serif;
} 